<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Stop</string>
	<string>kCojiAnimationIndex_Character_001</string>
	<string>kCojiAnimationIndex_Character_002</string>
	<string>kCojiAnimationIndex_Character_003</string>
	<string>kCojiAnimationIndex_Character_004</string>
	<string>kCojiAnimationIndex_Character_005</string>
	<string>kCojiAnimationIndex_Character_006</string>
	<string>kCojiAnimationIndex_Character_007</string>
	<string>kCojiAnimationIndex_Character_008</string>
	<string>kCojiAnimationIndex_Character_009</string>
	<string>kCojiAnimationIndex_Character_010</string>
	<string>kCojiAnimationIndex_Character_011</string>
	<string>kCojiAnimationIndex_Character_012</string>
	<string>kCojiAnimationIndex_Character_013</string>
	<string>kCojiAnimationIndex_Character_014</string>
	<string>kCojiAnimationIndex_Character_015</string>
	<string>kCojiAnimationIndex_Character_016</string>
	<string>kCojiAnimationIndex_Character_017</string>
	<string>kCojiAnimationIndex_Character_018</string>
	<string>kCojiAnimationIndex_Character_019</string>
	<string>kCojiAnimationIndex_Character_020</string>
	<string>kCojiAnimationIndex_Character_021</string>
	<string>kCojiAnimationIndex_Character_022</string>
	<string>kCojiAnimationIndex_Character_023</string>
	<string>kCojiAnimationIndex_Character_024</string>
	<string>kCojiAnimationIndex_Character_025</string>
	<string>kCojiAnimationIndex_Character_026</string>
	<string>kCojiAnimationIndex_Character_027</string>
	<string>kCojiAnimationIndex_Character_028</string>
	<string>kCojiAnimationIndex_Character_029</string>
	<string>kCojiAnimationIndex_Character_030</string>
	<string>kCojiAnimationIndex_Default_001</string>
	<string>kCojiAnimationIndex_Default_002</string>
	<string>kCojiAnimationIndex_Default_003</string>
	<string>kCojiAnimationIndex_Default_004</string>
	<string>kCojiAnimationIndex_Default_005</string>
	<string>kCojiAnimationIndex_Default_007</string>
	<string>kCojiAnimationIndex_Default_008</string>
	<string>kCojiAnimationIndex_Default_010</string>
	<string>kCojiAnimationIndex_Default_011</string>
	<string>kCojiAnimationIndex_Default_012</string>
	<string>kCojiAnimationIndex_Default_013</string>
	<string>kCojiAnimationIndex_Default_014</string>
	<string>kCojiAnimationIndex_Default_015</string>
	<string>kCojiAnimationIndex_Default_016</string>
	<string>kCojiAnimationIndex_Default_017</string>
	<string>kCojiAnimationIndex_Default_018</string>
	<string>kCojiAnimationIndex_Default_019</string>
	<string>kCojiAnimationIndex_Default_020</string>
	<string>kCojiAnimationIndex_Default_021</string>
	<string>kCojiAnimationIndex_Default_022</string>
	<string>kCojiAnimationIndex_Default_023</string>
	<string>kCojiAnimationIndex_Default_024</string>
	<string>kCojiAnimationIndex_Default_025</string>
	<string>kCojiAnimationIndex_Default_026</string>
	<string>kCojiAnimationIndex_Default_027</string>
	<string>kCojiAnimationIndex_Default_028</string>
	<string>kCojiAnimationIndex_Default_029</string>
	<string>kCojiAnimationIndex_Default_030</string>
	<string>kCojiAnimationIndex_Emoji_001</string>
	<string>kCojiAnimationIndex_Emoji_002</string>
	<string>kCojiAnimationIndex_Emoji_003</string>
	<string>kCojiAnimationIndex_Emoji_004</string>
	<string>kCojiAnimationIndex_Emoji_005</string>
	<string>kCojiAnimationIndex_Emoji_006</string>
	<string>kCojiAnimationIndex_Emoji_007</string>
	<string>kCojiAnimationIndex_Emoji_008</string>
	<string>kCojiAnimationIndex_Emoji_009</string>
	<string>kCojiAnimationIndex_Emoji_010 </string>
	<string>kCojiAnimationIndex_Emoji_011</string>
	<string>kCojiAnimationIndex_Emoji_012</string>
	<string>kCojiAnimationIndex_Emoji_013</string>
	<string>kCojiAnimationIndex_Emoji_014</string>
	<string>kCojiAnimationIndex_Emoji_015</string>
	<string>kCojiAnimationIndex_Emoji_016</string>
	<string>kCojiAnimationIndex_Emoji_017</string>
	<string>kCojiAnimationIndex_Emoji_018</string>
	<string>kCojiAnimationIndex_Emoji_019</string>
	<string>kCojiAnimationIndex_Emoji_020</string>
	<string>kCojiAnimationIndex_Emoji_021</string>
	<string>kCojiAnimationIndex_Emoji_022</string>
	<string>kCojiAnimationIndex_Emoji_023</string>
	<string>kCojiAnimationIndex_Emoji_024</string>
	<string>kCojiAnimationIndex_Emoji_025</string>
	<string>kCojiAnimationIndex_Emoji_026</string>
	<string>kCojiAnimationIndex_Emoji_027</string>
	<string>kCojiAnimationIndex_Emoji_028</string>
	<string>kCojiAnimationIndex_Emoji_029</string>
	<string>kCojiAnimationIndex_Emoji_030</string>
	<string>kCojiAnimationIndex_Emoji_031</string>
	<string>kCojiAnimationIndex_Emoji_032</string>
	<string>kCojiAnimationIndex_Reward_001</string>
	<string>kCojiAnimationIndex_Reward_002</string>
	<string>kCojiAnimationIndex_Reward_003</string>
	<string>kCojiAnimationIndex_Reward_004</string>
	<string>kCojiAnimationIndex_Reward_005</string>
	<string>kCojiAnimationIndex_Reward_006</string>
	<string>kCojiAnimationIndex_Reward_007</string>
	<string>kCojiAnimationIndex_Reward_008</string>
	<string>kCojiAnimationIndex_Reward_009</string>
	<string>kCojiAnimationIndex_Reward_010</string>
	<string>kCojiAnimationIndex_Reward_011</string>
	<string>kCojiAnimationIndex_Reward_012</string>
	<string>kCojiAnimationIndex_Reward_013</string>
	<string>kCojiAnimationIndex_Reward_014</string>
	<string>kCojiAnimationIndex_Reward_015</string>
	<string>kCojiAnimationIndex_Reward_016</string>
	<string>kCojiAnimationIndex_Reward_017</string>
	<string>kCojiAnimationIndex_Reward_018</string>
	<string>kCojiAnimationIndex_Reward_019</string>
	<string>kCojiAnimationIndex_Reward_020</string>
	<string>kCojiAnimationIndex_Reward_021</string>
	<string>kCojiAnimationIndex_Reward_022</string>
	<string>kCojiAnimationIndex_Reward_023</string>
	<string>kCojiAnimationIndex_Reward_024</string>
	<string>kCojiAnimationIndex_Reward_025</string>
	<string>kCojiAnimationIndex_Reward_026</string>
	<string>kCojiAnimationIndex_Reward_027</string>
	<string>kCojiAnimationIndex_Reward_028</string>
	<string>kCojiAnimationIndex_Reward_029</string>
	<string>kCojiAnimationIndex_Reward_030</string>
	<string>kCojiAnimationIndex_Reward_031</string>
	<string>kCojiAnimationIndex_Reward_032</string>
	<string>kCojiAnimationIndex_Reward_033</string>
	<string>kCojiAnimationIndex_Reward_034</string>
	<string>kCojiAnimationIndex_Tool_001</string>
	<string>kCojiAnimationIndex_Tool_002</string>
	<string>kCojiAnimationIndex_Tool_003</string>
	<string>kCojiAnimationIndex_Tool_004</string>
	<string>kCojiAnimationIndex_Tool_005</string>
	<string>kCojiAnimationIndex_Tool_006</string>
	<string>kCojiAnimationIndex_Tool_007</string>
	<string>kCojiAnimationIndex_Tool_008</string>
	<string>kCojiAnimationIndex_Tool_009</string>
	<string>kCojiAnimationIndex_Tool_010</string>
	<string>kCojiAnimationIndex_Tool_011</string>
	<string>kCojiAnimationIndex_Tool_012</string>
	<string>kCojiAnimationIndex_Tool_013</string>
	<string>kCojiAnimationIndex_Tool_014</string>
	<string>kCojiAnimationIndex_Tool_015</string>
	<string>kCojiAnimationIndex_Tool_016</string>
	<string>kCojiAnimationIndex_Tool_017</string>
	<string>kCojiAnimationIndex_Tool_018</string>
	<string>kCojiAnimationIndex_Tool_019</string>
	<string>kCojiAnimationIndex_Tool_020</string>
	<string>kCojiAnimationIndex_Vehicle_001</string>
	<string>kCojiAnimationIndex_Vehicle_002</string>
	<string>kCojiAnimationIndex_Vehicle_003</string>
	<string>kCojiAnimationIndex_Vehicle_004</string>
	<string>kCojiAnimationIndex_Vehicle_005</string>
	<string>kCojiAnimationIndex_Vehicle_006</string>
	<string>kCojiAnimationIndex_Vehicle_007</string>
	<string>kCojiAnimationIndex_Vehicle_008</string>
	<string>kCojiAnimationIndex_Vehicle_009</string>
	<string>kCojiAnimationIndex_Vehicle_010</string>
	<string>kCojiAnimationIndex_Vehicle_011</string>
	<string>kCojiAnimationIndex_Vehicle_012</string>
	<string>kCojiAnimationIndex_Vehicle_013</string>
	<string>kCojiAnimationIndex_Vehicle_014</string>
	<string>kCojiAnimationIndex_Vehicle_015</string>
	<string>kCojiAnimationIndex_Vehicle_016</string>
	<string>kCojiAnimationIndex_Vehicle_017</string>
	<string>kCojiAnimationIndex_Vehicle_018</string>
	<string>kCojiAnimationIndex_Vehicle_019</string>
	<string>kCojiAnimationIndex_Vehicle_020</string>
</array>
</plist>
