<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>kCojiImageIndex_Character_1F408</string>
	<string>kCojiImageIndex_Character_1F408_B</string>
	<string>kCojiImageIndex_Character_1F408_C</string>
	<string>kCojiImageIndex_Character_1F408_D</string>
	<string>kCojiImageIndex_Character_1F408_E</string>
	<string>kCojiImageIndex_Character_1F408_F</string>
	<string>kCojiImageIndex_Character_1F408_G</string>
	<string>kCojiImageIndex_Character_1F418</string>
	<string>kCojiImageIndex_Character_1F418_B</string>
	<string>kCojiImageIndex_Character_1F418_C</string>
	<string>kCojiImageIndex_Character_1F419</string>
	<string>kCojiImageIndex_Character_1F419_B</string>
	<string>kCojiImageIndex_Character_1F427</string>
	<string>kCojiImageIndex_Character_1F427_B</string>
	<string>kCojiImageIndex_Character_1F42D</string>
	<string>kCojiImageIndex_Character_1F42D_B</string>
	<string>kCojiImageIndex_Character_1F42D_C</string>
	<string>kCojiImageIndex_Character_1F42D_D</string>
	<string>kCojiImageIndex_Character_1F432</string>
	<string>kCojiImageIndex_Character_1F432_B</string>
	<string>kCojiImageIndex_Character_1F432_C</string>
	<string>kCojiImageIndex_Character_1F432_D</string>
	<string>kCojiImageIndex_Character_1F432_E</string>
	<string>kCojiImageIndex_Character_1F432_F</string>
	<string>kCojiImageIndex_Character_1F432_G</string>
	<string>kCojiImageIndex_Character_1F433</string>
	<string>kCojiImageIndex_Character_1F433_B</string>
	<string>kCojiImageIndex_Character_1F433_C</string>
	<string>kCojiImageIndex_Character_1F433_D</string>
	<string>kCojiImageIndex_Character_1F433_E</string>
	<string>kCojiImageIndex_Character_1F433_F</string>
	<string>kCojiImageIndex_Character_1F433_G</string>
	<string>kCojiImageIndex_Character_1F433_H</string>
	<string>kCojiImageIndex_Character_1F435</string>
	<string>kCojiImageIndex_Character_1F435_B</string>
	<string>kCojiImageIndex_Character_1F435_C</string>
	<string>kCojiImageIndex_Character_1F435_D</string>
	<string>kCojiImageIndex_Character_1F436</string>
	<string>kCojiImageIndex_Character_1F436_B</string>
	<string>kCojiImageIndex_Character_1F436_C</string>
	<string>kCojiImageIndex_Character_1F436_D</string>
	<string>kCojiImageIndex_Character_1F437</string>
	<string>kCojiImageIndex_Character_1F437_B</string>
	<string>kCojiImageIndex_Character_1F437_C</string>
	<string>kCojiImageIndex_Character_1F438</string>
	<string>kCojiImageIndex_Character_1F438_B</string>
	<string>kCojiImageIndex_Character_1F438_C</string>
	<string>kCojiImageIndex_Character_1F438_D</string>
	<string>kCojiImageIndex_Character_1F438_E</string>
	<string>kCojiImageIndex_Character_1F438_F</string>
	<string>kCojiImageIndex_Character_1F438_G</string>
	<string>kCojiImageIndex_Character_1F438_H</string>
	<string>kCojiImageIndex_Character_1F438_I</string>
	<string>kCojiImageIndex_Character_1F438_J</string>
	<string>kCojiImageIndex_Character_1F46e</string>
	<string>kCojiImageIndex_Character_1F476</string>
	<string>kCojiImageIndex_Character_1F476_B</string>
	<string>kCojiImageIndex_Character_1F476_C</string>
	<string>kCojiImageIndex_Character_1F476_D</string>
	<string>kCojiImageIndex_Character_1F476_E</string>
	<string>kCojiImageIndex_Character_1F476_F</string>
	<string>kCojiImageIndex_Character_1F476_G</string>
	<string>kCojiImageIndex_Character_1F476_H</string>
	<string>kCojiImageIndex_Character_1F478</string>
	<string>kCojiImageIndex_Character_1F478_B</string>
	<string>kCojiImageIndex_Character_1F47b</string>
	<string>kCojiImageIndex_Character_1F47b_B</string>
	<string>kCojiImageIndex_Character_1F47d</string>
	<string>kCojiImageIndex_Character_1F47d_B</string>
	<string>kCojiImageIndex_Character_1F47d_C</string>
	<string>kCojiImageIndex_Character_1F483</string>
	<string>kCojiImageIndex_Character_1F483_B</string>
	<string>kCojiImageIndex_Character_1F483_C</string>
	<string>kCojiImageIndex_Character_1F483_D</string>
	<string>kCojiImageIndex_Character_1F483_E</string>
	<string>kCojiImageIndex_Character_1F483_F</string>
	<string>kCojiImageIndex_Character_1F981</string>
	<string>kCojiImageIndex_Character_1F981_B</string>
	<string>kCojiImageIndex_Character_1F981_C</string>
	<string>kCojiImageIndex_Character_1F981_D</string>
	<string>kCojiImageIndex_Character_1F981_E</string>
	<string>kCojiImageIndex_Character_1F984</string>
	<string>kCojiImageIndex_Character_1F984_B</string>
	<string>kCojiImageIndex_Character_1f40c</string>
	<string>kCojiImageIndex_Character_1f411</string>
	<string>kCojiImageIndex_Character_1f411_B</string>
	<string>kCojiImageIndex_Character_1f413</string>
	<string>kCojiImageIndex_Character_1f413_B</string>
	<string>kCojiImageIndex_Character_1f413_C</string>
	<string>kCojiImageIndex_Character_1f413_D</string>
	<string>kCojiImageIndex_Character_1f426</string>
	<string>kCojiImageIndex_Character_1f426_B</string>
	<string>kCojiImageIndex_Character_1f429</string>
	<string>kCojiImageIndex_Character_1f429_B</string>
	<string>kCojiImageIndex_Character_1f42c</string>
	<string>kCojiImageIndex_Character_1f42c_B</string>
	<string>kCojiImageIndex_Character_1f42c_C</string>
	<string>kCojiImageIndex_Character_1f42c_D</string>
	<string>kCojiImageIndex_Character_1f42c_E</string>
	<string>kCojiImageIndex_Character_1f42c_F</string>
	<string>kCojiImageIndex_Character_1f42c_G</string>
	<string>kCojiImageIndex_Character_1f47e</string>
	<string>kCojiImageIndex_Character_1f47e_B</string>
	<string>kCojiImageIndex_Character_1f575</string>
	<string>kCojiImageIndex_Character_1f577</string>
	<string>kCojiImageIndex_Character_1f577_B</string>
	<string>kCojiImageIndex_Character_1f63b</string>
	<string>kCojiImageIndex_Character_1f63b_B</string>
	<string>kCojiImageIndex_Character_1f916</string>
	<string>kCojiImageIndex_Character_1f916_B</string>
	<string>kCojiImageIndex_Character_1f916_C</string>
	<string>kCojiImageIndex_Character_1f916_D</string>
	<string>kCojiImageIndex_Character_1f916_E</string>
	<string>kCojiImageIndex_Character_Blank</string>
	<string>kCojiImageIndex_Default_1F337</string>
	<string>kCojiImageIndex_Default_1F337_D</string>
	<string>kCojiImageIndex_Default_1F337_G</string>
	<string>kCojiImageIndex_Default_1F337_H</string>
	<string>kCojiImageIndex_Default_1F337_J</string>
	<string>kCojiImageIndex_Default_1F337_K</string>
	<string>kCojiImageIndex_Default_1F3B6</string>
	<string>kCojiImageIndex_Default_1F3B6_B</string>
	<string>kCojiImageIndex_Default_1F4a3</string>
	<string>kCojiImageIndex_Default_1F4a3_B</string>
	<string>kCojiImageIndex_Default_1F4a3_C</string>
	<string>kCojiImageIndex_Default_1F4a3_D</string>
	<string>kCojiImageIndex_Default_1F4a3_E</string>
	<string>kCojiImageIndex_Default_1F4a3_F</string>
	<string>kCojiImageIndex_Default_1F4a3_G</string>
	<string>kCojiImageIndex_Default_1F4a3_H</string>
	<string>kCojiImageIndex_Default_1F4a3_I</string>
	<string>kCojiImageIndex_Default_1F4a3_J</string>
	<string>kCojiImageIndex_Default_1F4a3_K</string>
	<string>kCojiImageIndex_Default_1F4a9</string>
	<string>kCojiImageIndex_Default_1F4a9_B</string>
	<string>kCojiImageIndex_Default_1F4a9_C</string>
	<string>kCojiImageIndex_Default_1F4a9_D</string>
	<string>kCojiImageIndex_Default_1F4a9_E</string>
	<string>kCojiImageIndex_Default_1F4a9_F</string>
	<string>kCojiImageIndex_Default_1F4a9_G</string>
	<string>kCojiImageIndex_Default_1F504_A</string>
	<string>kCojiImageIndex_Default_1F504_B</string>
	<string>kCojiImageIndex_Default_1F504_C</string>
	<string>kCojiImageIndex_Default_1F504_D</string>
	<string>kCojiImageIndex_Default_1F61A</string>
	<string>kCojiImageIndex_Default_1F61A_B</string>
	<string>kCojiImageIndex_Default_1F61A_C</string>
	<string>kCojiImageIndex_Default_1F61A_DD</string>
	<string>kCojiImageIndex_Default_1F61A_EE</string>
	<string>kCojiImageIndex_Default_1F61A_F</string>
	<string>kCojiImageIndex_Default_1F61A_G</string>
	<string>kCojiImageIndex_Default_1F61A_H</string>
	<string>kCojiImageIndex_Default_1F61A_I</string>
	<string>kCojiImageIndex_Default_1F61A_J</string>
	<string>kCojiImageIndex_Default_1f32e</string>
	<string>kCojiImageIndex_Default_1f32e_B</string>
	<string>kCojiImageIndex_Default_1f32e_C</string>
	<string>kCojiImageIndex_Default_1f32e_D</string>
	<string>kCojiImageIndex_Default_1f32e_E</string>
	<string>kCojiImageIndex_Default_1f32e_F</string>
	<string>kCojiImageIndex_Default_1f386</string>
	<string>kCojiImageIndex_Default_1f386_B</string>
	<string>kCojiImageIndex_Default_1f386_C</string>
	<string>kCojiImageIndex_Default_1f386_D</string>
	<string>kCojiImageIndex_Default_1f386_E</string>
	<string>kCojiImageIndex_Default_1f386_F</string>
	<string>kCojiImageIndex_Default_1f386_G</string>
	<string>kCojiImageIndex_Default_1f386_H</string>
	<string>kCojiImageIndex_Default_1f44c_1f3fd</string>
	<string>kCojiImageIndex_Default_1f44c_1f3fd_B</string>
	<string>kCojiImageIndex_Default_1f44d_1f3fd</string>
	<string>kCojiImageIndex_Default_1f44d_1f3fd_B</string>
	<string>kCojiImageIndex_Default_1f44e_1f3fd</string>
	<string>kCojiImageIndex_Default_1f44e_1f3fd_B</string>
	<string>kCojiImageIndex_Default_1f49c</string>
	<string>kCojiImageIndex_Default_1f49c_A</string>
	<string>kCojiImageIndex_Default_1f603</string>
	<string>kCojiImageIndex_Default_1f603_B</string>
	<string>kCojiImageIndex_Default_1f603_C</string>
	<string>kCojiImageIndex_Default_1f607</string>
	<string>kCojiImageIndex_Default_1f607_B</string>
	<string>kCojiImageIndex_Default_1f607_C</string>
	<string>kCojiImageIndex_Default_1f607_D</string>
	<string>kCojiImageIndex_Default_1f607_E</string>
	<string>kCojiImageIndex_Default_1f608</string>
	<string>kCojiImageIndex_Default_1f608_B</string>
	<string>kCojiImageIndex_Default_1f608_C</string>
	<string>kCojiImageIndex_Default_1f608_D</string>
	<string>kCojiImageIndex_Default_1f60a</string>
	<string>kCojiImageIndex_Default_1f60a_B</string>
	<string>kCojiImageIndex_Default_1f60f</string>
	<string>kCojiImageIndex_Default_1f60f_B</string>
	<string>kCojiImageIndex_Default_1f61b</string>
	<string>kCojiImageIndex_Default_1f61b_B</string>
	<string>kCojiImageIndex_Default_1f61b_C</string>
	<string>kCojiImageIndex_Default_1f620</string>
	<string>kCojiImageIndex_Default_1f620_B</string>
	<string>kCojiImageIndex_Default_1f620_C</string>
	<string>kCojiImageIndex_Default_1f622</string>
	<string>kCojiImageIndex_Default_1f622_B</string>
	<string>kCojiImageIndex_Default_1f622_C</string>
	<string>kCojiImageIndex_Default_1f622_D</string>
	<string>kCojiImageIndex_Default_1f622_E</string>
	<string>kCojiImageIndex_Default_1f622_F</string>
	<string>kCojiImageIndex_Default_1f622_G</string>
	<string>kCojiImageIndex_Default_1f622_H</string>
	<string>kCojiImageIndex_Default_1f622_I</string>
	<string>kCojiImageIndex_Default_1f622_J</string>
	<string>kCojiImageIndex_Default_1f622_K</string>
	<string>kCojiImageIndex_Default_1f631</string>
	<string>kCojiImageIndex_Default_1f631_B</string>
	<string>kCojiImageIndex_Default_1f631_C</string>
	<string>kCojiImageIndex_Default_1f631_D</string>
	<string>kCojiImageIndex_Default_1f631_E</string>
	<string>kCojiImageIndex_Default_1f631_F</string>
	<string>kCojiImageIndex_Default_1f631_G</string>
	<string>kCojiImageIndex_Default_1f631_H</string>
	<string>kCojiImageIndex_Default_1f634</string>
	<string>kCojiImageIndex_Default_1f634_B</string>
	<string>kCojiImageIndex_Default_1f634_C</string>
	<string>kCojiImageIndex_Default_1f634_D</string>
	<string>kCojiImageIndex_Default_1f634_E</string>
	<string>kCojiImageIndex_Default_1f634_F</string>
	<string>kCojiImageIndex_Default_1f634_G</string>
	<string>kCojiImageIndex_Default_1f634_H</string>
	<string>kCojiImageIndex_Default_1f635</string>
	<string>kCojiImageIndex_Default_1f635_B</string>
	<string>kCojiImageIndex_Default_1f635_C</string>
	<string>kCojiImageIndex_Default_1f635_D</string>
	<string>kCojiImageIndex_Default_1f635_E</string>
	<string>kCojiImageIndex_Default_1f635_F</string>
	<string>kCojiImageIndex_Default_1f635_G</string>
	<string>kCojiImageIndex_Default_1f635_H</string>
	<string>kCojiImageIndex_Default_2196</string>
	<string>kCojiImageIndex_Default_2196_B</string>
	<string>kCojiImageIndex_Default_2196_C</string>
	<string>kCojiImageIndex_Default_2196_D</string>
	<string>kCojiImageIndex_Default_2196_E</string>
	<string>kCojiImageIndex_Default_2197</string>
	<string>kCojiImageIndex_Default_2197_B</string>
	<string>kCojiImageIndex_Default_2197_C</string>
	<string>kCojiImageIndex_Default_2197_D</string>
	<string>kCojiImageIndex_Default_2197_E</string>
	<string>kCojiImageIndex_Default_2934</string>
	<string>kCojiImageIndex_Default_2934_B</string>
	<string>kCojiImageIndex_Default_2934_C</string>
	<string>kCojiImageIndex_Default_2934_D</string>
	<string>kCojiImageIndex_Default_2934_E</string>
	<string>kCojiImageIndex_Default_2935</string>
	<string>kCojiImageIndex_Default_2935_B</string>
	<string>kCojiImageIndex_Default_2935_C</string>
	<string>kCojiImageIndex_Default_2935_D</string>
	<string>kCojiImageIndex_Default_2935_E</string>
	<string>kCojiImageIndex_Default_2B06</string>
	<string>kCojiImageIndex_Default_2B06_B</string>
	<string>kCojiImageIndex_Default_2B06_C</string>
	<string>kCojiImageIndex_Default_2B06_D</string>
	<string>kCojiImageIndex_Default_2B06_E</string>
	<string>kCojiImageIndex_Default_2B07</string>
	<string>kCojiImageIndex_Default_2B07_B</string>
	<string>kCojiImageIndex_Default_2B07_C</string>
	<string>kCojiImageIndex_Default_2B07_D</string>
	<string>kCojiImageIndex_Default_2B07_E</string>
	<string>kCojiImageIndex_Default_3030</string>
	<string>kCojiImageIndex_Default_3030_B</string>
	<string>kCojiImageIndex_Default_3030_C</string>
	<string>kCojiImageIndex_Default_3030_D</string>
	<string>kCojiImageIndex_Default_3030_E</string>
	<string>kCojiImageIndex_Default_Blank_Gery</string>
	<string>kCojiImageIndex_Eyes_Eyes_1</string>
	<string>kCojiImageIndex_Eyes_Eyes_2</string>
	<string>kCojiImageIndex_Eyes_Eyes_3</string>
	<string>kCojiImageIndex_Eyes_Eyes_DownA</string>
	<string>kCojiImageIndex_Eyes_Eyes_DownB</string>
	<string>kCojiImageIndex_Eyes_Eyes_DownC</string>
	<string>kCojiImageIndex_Eyes_Eyes_DownD</string>
	<string>kCojiImageIndex_Eyes_Eyes_IpB</string>
	<string>kCojiImageIndex_Eyes_Eyes_LeftA</string>
	<string>kCojiImageIndex_Eyes_Eyes_LeftB</string>
	<string>kCojiImageIndex_Eyes_Eyes_LeftC</string>
	<string>kCojiImageIndex_Eyes_Eyes_PleadA</string>
	<string>kCojiImageIndex_Eyes_Eyes_PleadB</string>
	<string>kCojiImageIndex_Eyes_Eyes_PleadC</string>
	<string>kCojiImageIndex_Eyes_Eyes_PleadD</string>
	<string>kCojiImageIndex_Eyes_Eyes_PleadE</string>
	<string>kCojiImageIndex_Eyes_Eyes_PleadF</string>
	<string>kCojiImageIndex_Eyes_Eyes_PleadG</string>
	<string>kCojiImageIndex_Eyes_Eyes_PleadH</string>
	<string>kCojiImageIndex_Eyes_Eyes_PleadI</string>
	<string>kCojiImageIndex_Eyes_Eyes_PleadJ</string>
	<string>kCojiImageIndex_Eyes_Eyes_RightA</string>
	<string>kCojiImageIndex_Eyes_Eyes_RightB</string>
	<string>kCojiImageIndex_Eyes_Eyes_RightC</string>
	<string>kCojiImageIndex_Eyes_Eyes_ShyA</string>
	<string>kCojiImageIndex_Eyes_Eyes_ShyB</string>
	<string>kCojiImageIndex_Eyes_Eyes_ShyC</string>
	<string>kCojiImageIndex_Eyes_Eyes_ShyD</string>
	<string>kCojiImageIndex_Eyes_Eyes_ShyE</string>
	<string>kCojiImageIndex_Eyes_Eyes_ShyF</string>
	<string>kCojiImageIndex_Eyes_Eyes_ShyG</string>
	<string>kCojiImageIndex_Eyes_Eyes_ShyH</string>
	<string>kCojiImageIndex_Eyes_Eyes_UpA</string>
	<string>kCojiImageIndex_Eyes_Eyes_UpB</string>
	<string>kCojiImageIndex_Eyes_Eyes_UpC</string>
	<string>kCojiImageIndex_Eyes_Eyes_UpD</string>
	<string>kCojiImageIndex_Eyes_Eyes_UpE</string>
	<string>kCojiImageIndex_Eyes_Eyes_Wink</string>
	<string>kCojiImageIndex_Eyes_Eyes_WinkB</string>
	<string>kCojiImageIndex_Eyes_Eyes_angryA</string>
	<string>kCojiImageIndex_Eyes_Eyes_angryB</string>
	<string>kCojiImageIndex_Eyes_Eyes_boredA</string>
	<string>kCojiImageIndex_Eyes_Eyes_boredB</string>
	<string>kCojiImageIndex_Eyes_Eyes_boredC</string>
	<string>kCojiImageIndex_Eyes_Eyes_boredD</string>
	<string>kCojiImageIndex_Eyes_Eyes_boredE</string>
	<string>kCojiImageIndex_Eyes_Eyes_boredF</string>
	<string>kCojiImageIndex_Eyes_Eyes_cheekyA</string>
	<string>kCojiImageIndex_Eyes_Eyes_cheekyB</string>
	<string>kCojiImageIndex_Eyes_Eyes_cheekyC</string>
	<string>kCojiImageIndex_Eyes_Eyes_confusedA</string>
	<string>kCojiImageIndex_Eyes_Eyes_confusedB</string>
	<string>kCojiImageIndex_Eyes_Eyes_confusedC</string>
	<string>kCojiImageIndex_Eyes_Eyes_confusedD</string>
	<string>kCojiImageIndex_Eyes_Eyes_confusedE</string>
	<string>kCojiImageIndex_Eyes_Eyes_confusedF</string>
	<string>kCojiImageIndex_Eyes_Eyes_dizzyA</string>
	<string>kCojiImageIndex_Eyes_Eyes_dizzyB</string>
	<string>kCojiImageIndex_Eyes_Eyes_dizzyC</string>
	<string>kCojiImageIndex_Eyes_Eyes_dizzyD</string>
	<string>kCojiImageIndex_Eyes_Eyes_dizzyE</string>
	<string>kCojiImageIndex_Eyes_Eyes_dizzyF</string>
	<string>kCojiImageIndex_Eyes_Eyes_dizzyG</string>
	<string>kCojiImageIndex_Eyes_Eyes_dizzyH</string>
	<string>kCojiImageIndex_Eyes_Eyes_dizzyI</string>
	<string>kCojiImageIndex_Eyes_Eyes_exciteA</string>
	<string>kCojiImageIndex_Eyes_Eyes_exciteB</string>
	<string>kCojiImageIndex_Eyes_Eyes_exciteC</string>
	<string>kCojiImageIndex_Eyes_Eyes_exciteD</string>
	<string>kCojiImageIndex_Eyes_Eyes_grumpyA</string>
	<string>kCojiImageIndex_Eyes_Eyes_grumpyB</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadA</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadB</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadC</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryA</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryB</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryC</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryD</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryE</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryF</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryG</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryH</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryI</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryJ</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryK</string>
	<string>kCojiImageIndex_Eyes_Eyes_sadcryL</string>
	<string>kCojiImageIndex_Eyes_Eyes_seriousA</string>
	<string>kCojiImageIndex_Eyes_Eyes_seriousB</string>
	<string>kCojiImageIndex_Eyes_Eyes_sleepA</string>
	<string>kCojiImageIndex_Eyes_Eyes_sleepB</string>
	<string>kCojiImageIndex_Eyes_Eyes_sleepC</string>
	<string>kCojiImageIndex_Eyes_Eyes_surprisedA</string>
	<string>kCojiImageIndex_Eyes_Eyes_surprisedB</string>
	<string>kCojiImageIndex_Eyes_Eyes_tiredA</string>
	<string>kCojiImageIndex_Eyes_Eyes_tiredB</string>
	<string>kCojiImageIndex_Eyes_Eyes_tiredC</string>
	<string>kCojiImageIndex_Eyes_Eyes_tiredD</string>
	<string>kCojiImageIndex_Eyes_Eyes_tiredE</string>
	<string>kCojiImageIndex_Reward_1f327</string>
	<string>kCojiImageIndex_Reward_1f327_B</string>
	<string>kCojiImageIndex_Reward_1f328</string>
	<string>kCojiImageIndex_Reward_1f328_B</string>
	<string>kCojiImageIndex_Reward_1f328_C</string>
	<string>kCojiImageIndex_Reward_1f342</string>
	<string>kCojiImageIndex_Reward_1f342_B</string>
	<string>kCojiImageIndex_Reward_1f342_C</string>
	<string>kCojiImageIndex_Reward_1f355</string>
	<string>kCojiImageIndex_Reward_1f355_B</string>
	<string>kCojiImageIndex_Reward_1f355_C</string>
	<string>kCojiImageIndex_Reward_1f355_D</string>
	<string>kCojiImageIndex_Reward_1f355_E</string>
	<string>kCojiImageIndex_Reward_1f355_F</string>
	<string>kCojiImageIndex_Reward_1f355_G</string>
	<string>kCojiImageIndex_Reward_1f367</string>
	<string>kCojiImageIndex_Reward_1f367_B</string>
	<string>kCojiImageIndex_Reward_1f367_C</string>
	<string>kCojiImageIndex_Reward_1f367_D</string>
	<string>kCojiImageIndex_Reward_1f367_E</string>
	<string>kCojiImageIndex_Reward_1f367_F</string>
	<string>kCojiImageIndex_Reward_1f381</string>
	<string>kCojiImageIndex_Reward_1f383</string>
	<string>kCojiImageIndex_Reward_1f383_B</string>
	<string>kCojiImageIndex_Reward_1f387_</string>
	<string>kCojiImageIndex_Reward_1f387_B</string>
	<string>kCojiImageIndex_Reward_1f387_C</string>
	<string>kCojiImageIndex_Reward_1f387_D</string>
	<string>kCojiImageIndex_Reward_1f387_E</string>
	<string>kCojiImageIndex_Reward_1f387_F</string>
	<string>kCojiImageIndex_Reward_1f387_G</string>
	<string>kCojiImageIndex_Reward_1f3a0</string>
	<string>kCojiImageIndex_Reward_1f3a7</string>
	<string>kCojiImageIndex_Reward_1f3b0</string>
	<string>kCojiImageIndex_Reward_1f3b0_B</string>
	<string>kCojiImageIndex_Reward_1f3b0_C</string>
	<string>kCojiImageIndex_Reward_1f3b0_D</string>
	<string>kCojiImageIndex_Reward_1f3b0_E</string>
	<string>kCojiImageIndex_Reward_1f3b0_F</string>
	<string>kCojiImageIndex_Reward_1f3b0_G</string>
	<string>kCojiImageIndex_Reward_1f3c2</string>
	<string>kCojiImageIndex_Reward_1f3c2_B</string>
	<string>kCojiImageIndex_Reward_1f3c2_C</string>
	<string>kCojiImageIndex_Reward_1f3c2_D</string>
	<string>kCojiImageIndex_Reward_1f3c2_E</string>
	<string>kCojiImageIndex_Reward_1f3c2_F</string>
	<string>kCojiImageIndex_Reward_1f3c4</string>
	<string>kCojiImageIndex_Reward_1f3c4_B</string>
	<string>kCojiImageIndex_Reward_1f3c5</string>
	<string>kCojiImageIndex_Reward_1f3c6</string>
	<string>kCojiImageIndex_Reward_1f3c6_B</string>
	<string>kCojiImageIndex_Reward_1f3c8</string>
	<string>kCojiImageIndex_Reward_1f3c8_B</string>
	<string>kCojiImageIndex_Reward_1f3c8_C</string>
	<string>kCojiImageIndex_Reward_1f3d2</string>
	<string>kCojiImageIndex_Reward_1f3d2_B</string>
	<string>kCojiImageIndex_Reward_1f3d2_C</string>
	<string>kCojiImageIndex_Reward_1f3d2_D</string>
	<string>kCojiImageIndex_Reward_1f3d2_E</string>
	<string>kCojiImageIndex_Reward_1f3d2_F</string>
	<string>kCojiImageIndex_Reward_1f3d2_G</string>
	<string>kCojiImageIndex_Reward_1f3d5</string>
	<string>kCojiImageIndex_Reward_1f3d6</string>
	<string>kCojiImageIndex_Reward_1f3eb</string>
	<string>kCojiImageIndex_Reward_1f3eb_B</string>
	<string>kCojiImageIndex_Reward_1f3eb_C</string>
	<string>kCojiImageIndex_Reward_1f3f0</string>
	<string>kCojiImageIndex_Reward_1f3f0_B</string>
	<string>kCojiImageIndex_Reward_1f407</string>
	<string>kCojiImageIndex_Reward_1f407_B</string>
	<string>kCojiImageIndex_Reward_1f407_C</string>
	<string>kCojiImageIndex_Reward_1f41d</string>
	<string>kCojiImageIndex_Reward_1f41d_B</string>
	<string>kCojiImageIndex_Reward_1f423</string>
	<string>kCojiImageIndex_Reward_1f423_B</string>
	<string>kCojiImageIndex_Reward_1f423_C</string>
	<string>kCojiImageIndex_Reward_1f423_D</string>
	<string>kCojiImageIndex_Reward_1f423_E</string>
	<string>kCojiImageIndex_Reward_1f441</string>
	<string>kCojiImageIndex_Reward_1f441_B</string>
	<string>kCojiImageIndex_Reward_1f441_C</string>
	<string>kCojiImageIndex_Reward_1f441_D</string>
	<string>kCojiImageIndex_Reward_1f451</string>
	<string>kCojiImageIndex_Reward_1f496</string>
	<string>kCojiImageIndex_Reward_1f496_B</string>
	<string>kCojiImageIndex_Reward_1f4a5</string>
	<string>kCojiImageIndex_Reward_1f4a5_B</string>
	<string>kCojiImageIndex_Reward_1f4a5_C</string>
	<string>kCojiImageIndex_Reward_1f4a5_D</string>
	<string>kCojiImageIndex_Reward_1f4a5_E</string>
	<string>kCojiImageIndex_Reward_1f4a5_F</string>
	<string>kCojiImageIndex_Reward_1f4ab</string>
	<string>kCojiImageIndex_Reward_1f4ab_B</string>
	<string>kCojiImageIndex_Reward_1f4ab_C</string>
	<string>kCojiImageIndex_Reward_1f4ab_D</string>
	<string>kCojiImageIndex_Reward_1f4ab_E</string>
	<string>kCojiImageIndex_Reward_1f4ab_F</string>
	<string>kCojiImageIndex_Reward_1f4cc</string>
	<string>kCojiImageIndex_Reward_1f60d</string>
	<string>kCojiImageIndex_Reward_1f60d_B</string>
	<string>kCojiImageIndex_Reward_1f68c</string>
	<string>kCojiImageIndex_Reward_1f68d</string>
	<string>kCojiImageIndex_Reward_1f910</string>
	<string>kCojiImageIndex_Reward_1f910E</string>
	<string>kCojiImageIndex_Reward_1f910_B</string>
	<string>kCojiImageIndex_Reward_1f910_C</string>
	<string>kCojiImageIndex_Reward_1f910_D</string>
	<string>kCojiImageIndex_Reward_1f910_G</string>
	<string>kCojiImageIndex_Reward_2603</string>
	<string>kCojiImageIndex_Reward_2603_B</string>
	<string>kCojiImageIndex_Reward_262e</string>
	<string>kCojiImageIndex_Reward_26a1</string>
	<string>kCojiImageIndex_Reward_26a1_B</string>
	<string>kCojiImageIndex_Reward_26a1_C</string>
	<string>kCojiImageIndex_Tool_1F354</string>
	<string>kCojiImageIndex_Tool_1F354_B</string>
	<string>kCojiImageIndex_Tool_1F354_C</string>
	<string>kCojiImageIndex_Tool_1F354_D</string>
	<string>kCojiImageIndex_Tool_1F354_E</string>
	<string>kCojiImageIndex_Tool_1F354_F</string>
	<string>kCojiImageIndex_Tool_1F354_G</string>
	<string>kCojiImageIndex_Tool_1F354_H</string>
	<string>kCojiImageIndex_Tool_1F354_I</string>
	<string>kCojiImageIndex_Tool_1F354_J</string>
	<string>kCojiImageIndex_Tool_1F354_K</string>
	<string>kCojiImageIndex_Tool_1F4a1</string>
	<string>kCojiImageIndex_Tool_1F4a1_B</string>
	<string>kCojiImageIndex_Tool_1F4a1_C</string>
	<string>kCojiImageIndex_Tool_1F4a1_D</string>
	<string>kCojiImageIndex_Tool_1F4a1_E</string>
	<string>kCojiImageIndex_Tool_1F4a1_F</string>
	<string>kCojiImageIndex_Tool_1f308</string>
	<string>kCojiImageIndex_Tool_1f308_B</string>
	<string>kCojiImageIndex_Tool_1f308_C</string>
	<string>kCojiImageIndex_Tool_1f308_D</string>
	<string>kCojiImageIndex_Tool_1f308_E</string>
	<string>kCojiImageIndex_Tool_1f308_G</string>
	<string>kCojiImageIndex_Tool_1f308_H</string>
	<string>kCojiImageIndex_Tool_1f30b</string>
	<string>kCojiImageIndex_Tool_1f30b_B</string>
	<string>kCojiImageIndex_Tool_1f30b_C</string>
	<string>kCojiImageIndex_Tool_1f30b_D</string>
	<string>kCojiImageIndex_Tool_1f30b_E</string>
	<string>kCojiImageIndex_Tool_1f30b_F</string>
	<string>kCojiImageIndex_Tool_1f30b_G</string>
	<string>kCojiImageIndex_Tool_1f30b_H</string>
	<string>kCojiImageIndex_Tool_1f32a</string>
	<string>kCojiImageIndex_Tool_1f32a_B</string>
	<string>kCojiImageIndex_Tool_1f32d</string>
	<string>kCojiImageIndex_Tool_1f32d_B</string>
	<string>kCojiImageIndex_Tool_1f32d_C</string>
	<string>kCojiImageIndex_Tool_1f32d_D</string>
	<string>kCojiImageIndex_Tool_1f32d_E</string>
	<string>kCojiImageIndex_Tool_1f34c</string>
	<string>kCojiImageIndex_Tool_1f34c_B</string>
	<string>kCojiImageIndex_Tool_1f34c_C</string>
	<string>kCojiImageIndex_Tool_1f34c_D</string>
	<string>kCojiImageIndex_Tool_1f366</string>
	<string>kCojiImageIndex_Tool_1f366_B</string>
	<string>kCojiImageIndex_Tool_1f366_C</string>
	<string>kCojiImageIndex_Tool_1f366_D</string>
	<string>kCojiImageIndex_Tool_1f366_E</string>
	<string>kCojiImageIndex_Tool_1f366_F</string>
	<string>kCojiImageIndex_Tool_1f37c</string>
	<string>kCojiImageIndex_Tool_1f37c_B</string>
	<string>kCojiImageIndex_Tool_1f37c_C</string>
	<string>kCojiImageIndex_Tool_1f37c_D</string>
	<string>kCojiImageIndex_Tool_1f37c_E</string>
	<string>kCojiImageIndex_Tool_1f37c_F</string>
	<string>kCojiImageIndex_Tool_1f382</string>
	<string>kCojiImageIndex_Tool_1f382_B</string>
	<string>kCojiImageIndex_Tool_1f388</string>
	<string>kCojiImageIndex_Tool_1f388_B</string>
	<string>kCojiImageIndex_Tool_1f389</string>
	<string>kCojiImageIndex_Tool_1f389_B</string>
	<string>kCojiImageIndex_Tool_1f39f</string>
	<string>kCojiImageIndex_Tool_1f39f_B</string>
	<string>kCojiImageIndex_Tool_1f3a3</string>
	<string>kCojiImageIndex_Tool_1f3a3_B</string>
	<string>kCojiImageIndex_Tool_1f3a3_C</string>
	<string>kCojiImageIndex_Tool_1f3a3_D</string>
	<string>kCojiImageIndex_Tool_1f3a3_E</string>
	<string>kCojiImageIndex_Tool_1f3a3_F</string>
	<string>kCojiImageIndex_Tool_1f3a4</string>
	<string>kCojiImageIndex_Tool_1f3a4_B</string>
	<string>kCojiImageIndex_Tool_1f3b7</string>
	<string>kCojiImageIndex_Tool_1f3b7_B</string>
	<string>kCojiImageIndex_Tool_1f3b8</string>
	<string>kCojiImageIndex_Tool_1f3b8_B</string>
	<string>kCojiImageIndex_Tool_1f484</string>
	<string>kCojiImageIndex_Tool_1f484_B</string>
	<string>kCojiImageIndex_Tool_1f484_C</string>
	<string>kCojiImageIndex_Tool_1f484_D</string>
	<string>kCojiImageIndex_Tool_1f484_E</string>
	<string>kCojiImageIndex_Tool_1f484_F</string>
	<string>kCojiImageIndex_Tool_1f48b</string>
	<string>kCojiImageIndex_Tool_1f48b_B</string>
	<string>kCojiImageIndex_Tool_1f48c</string>
	<string>kCojiImageIndex_Tool_1f511</string>
	<string>kCojiImageIndex_Tool_1f511_B</string>
	<string>kCojiImageIndex_Tool_1f511_C</string>
	<string>kCojiImageIndex_Tool_1f511_D</string>
	<string>kCojiImageIndex_Tool_1f525</string>
	<string>kCojiImageIndex_Tool_1f525_B</string>
	<string>kCojiImageIndex_Tool_1f526</string>
	<string>kCojiImageIndex_Tool_1f526_B</string>
	<string>kCojiImageIndex_Tool_1f526_C</string>
	<string>kCojiImageIndex_Tool_1f526_D</string>
	<string>kCojiImageIndex_Tool_1f527</string>
	<string>kCojiImageIndex_Tool_1f527_B</string>
	<string>kCojiImageIndex_Tool_1f528</string>
	<string>kCojiImageIndex_Tool_1f528_B</string>
	<string>kCojiImageIndex_Tool_1f52e</string>
	<string>kCojiImageIndex_Tool_1f52e_B</string>
	<string>kCojiImageIndex_Tool_1f576</string>
	<string>kCojiImageIndex_Tool_1f576_B</string>
	<string>kCojiImageIndex_Tool_1f576_C</string>
	<string>kCojiImageIndex_Tool_1f6bd</string>
	<string>kCojiImageIndex_Tool_1f9c0</string>
	<string>kCojiImageIndex_Tool_23f0</string>
	<string>kCojiImageIndex_Tool_23f0_B</string>
	<string>kCojiImageIndex_Tool_23f0_C</string>
	<string>kCojiImageIndex_Tool_23f0_D</string>
	<string>kCojiImageIndex_Tool_23f0_E</string>
	<string>kCojiImageIndex_Tool_23f0_F</string>
	<string>kCojiImageIndex_Tool_23f0_G</string>
	<string>kCojiImageIndex_Tool_23f0_H</string>
	<string>kCojiImageIndex_Tool_23f0_I</string>
	<string>kCojiImageIndex_Tool_2602</string>
	<string>kCojiImageIndex_Tool_2602_B</string>
	<string>kCojiImageIndex_Tool_2602_C</string>
	<string>kCojiImageIndex_Tool_26bd</string>
	<string>kCojiImageIndex_Tool_26bd_B</string>
	<string>kCojiImageIndex_Vehicle_1F3cd</string>
	<string>kCojiImageIndex_Vehicle_1F3cd_B</string>
	<string>kCojiImageIndex_Vehicle_1F3cd_C</string>
	<string>kCojiImageIndex_Vehicle_1F680</string>
	<string>kCojiImageIndex_Vehicle_1F680_B</string>
	<string>kCojiImageIndex_Vehicle_1F680_C</string>
	<string>kCojiImageIndex_Vehicle_1F680_D</string>
	<string>kCojiImageIndex_Vehicle_1F681</string>
	<string>kCojiImageIndex_Vehicle_1F681_B</string>
	<string>kCojiImageIndex_Vehicle_1F681_C</string>
	<string>kCojiImageIndex_Vehicle_1F682</string>
	<string>kCojiImageIndex_Vehicle_1F682_B</string>
	<string>kCojiImageIndex_Vehicle_1F692_A</string>
	<string>kCojiImageIndex_Vehicle_1F692_B</string>
	<string>kCojiImageIndex_Vehicle_1F692_C</string>
	<string>kCojiImageIndex_Vehicle_1F692_D</string>
	<string>kCojiImageIndex_Vehicle_1F692_E</string>
	<string>kCojiImageIndex_Vehicle_1F692_F</string>
	<string>kCojiImageIndex_Vehicle_1F692_G</string>
	<string>kCojiImageIndex_Vehicle_1F692_H</string>
	<string>kCojiImageIndex_Vehicle_1F692_I</string>
	<string>kCojiImageIndex_Vehicle_1F692_J</string>
	<string>kCojiImageIndex_Vehicle_1F692_K</string>
	<string>kCojiImageIndex_Vehicle_1F692_L</string>
	<string>kCojiImageIndex_Vehicle_1F692_M</string>
	<string>kCojiImageIndex_Vehicle_1F692_Njpg</string>
	<string>kCojiImageIndex_Vehicle_1F692_O</string>
	<string>kCojiImageIndex_Vehicle_1F693</string>
	<string>kCojiImageIndex_Vehicle_1F693_B</string>
	<string>kCojiImageIndex_Vehicle_1F6F3</string>
	<string>kCojiImageIndex_Vehicle_1F6F3_B</string>
	<string>kCojiImageIndex_Vehicle_1f3a2</string>
	<string>kCojiImageIndex_Vehicle_1f3a2_B</string>
	<string>kCojiImageIndex_Vehicle_1f3a2_C</string>
	<string>kCojiImageIndex_Vehicle_1f3a2_D</string>
	<string>kCojiImageIndex_Vehicle_1f3a2_E</string>
	<string>kCojiImageIndex_Vehicle_1f3a2_F</string>
	<string>kCojiImageIndex_Vehicle_1f3a2_G</string>
	<string>kCojiImageIndex_Vehicle_1f3a2_H</string>
	<string>kCojiImageIndex_Vehicle_1f3a2_I</string>
	<string>kCojiImageIndex_Vehicle_1f3a2_J</string>
	<string>kCojiImageIndex_Vehicle_1f3c1</string>
	<string>kCojiImageIndex_Vehicle_1f3c1_B</string>
	<string>kCojiImageIndex_Vehicle_1f3c1_C</string>
	<string>kCojiImageIndex_Vehicle_1f3c3</string>
	<string>kCojiImageIndex_Vehicle_1f3c3_B</string>
	<string>kCojiImageIndex_Vehicle_1f3c3_C</string>
	<string>kCojiImageIndex_Vehicle_1f3ce</string>
	<string>kCojiImageIndex_Vehicle_1f3ce_B</string>
	<string>kCojiImageIndex_Vehicle_1f3ce_C</string>
	<string>kCojiImageIndex_Vehicle_1f3ce_D</string>
	<string>kCojiImageIndex_Vehicle_1f3ce_E</string>
	<string>kCojiImageIndex_Vehicle_1f3ce_F</string>
	<string>kCojiImageIndex_Vehicle_1f3d7</string>
	<string>kCojiImageIndex_Vehicle_1f3d7_B</string>
	<string>kCojiImageIndex_Vehicle_1f3d7_C</string>
	<string>kCojiImageIndex_Vehicle_1f3d7_D</string>
	<string>kCojiImageIndex_Vehicle_1f3d7_E</string>
	<string>kCojiImageIndex_Vehicle_1f3d7_F</string>
	<string>kCojiImageIndex_Vehicle_1f4a6</string>
	<string>kCojiImageIndex_Vehicle_1f4a6_B</string>
	<string>kCojiImageIndex_Vehicle_1f4a8</string>
	<string>kCojiImageIndex_Vehicle_1f4a8_B</string>
	<string>kCojiImageIndex_Vehicle_1f691</string>
	<string>kCojiImageIndex_Vehicle_1f691_B</string>
	<string>kCojiImageIndex_Vehicle_1f6a6</string>
	<string>kCojiImageIndex_Vehicle_1f6a6_B</string>
	<string>kCojiImageIndex_Vehicle_1f6e5</string>
	<string>kCojiImageIndex_Vehicle_1f6e5_B</string>
	<string>kCojiImageIndex_Vehicle_1f6e5_C</string>
	<string>kCojiImageIndex_Vehicle_1f6e5_D</string>
	<string>kCojiImageIndex_Vehicle_2693</string>
	<string>kCojiImageIndex_Vehicle_2693_B</string>
	<string>kCojiImageIndex_Vehicle_2693_C</string>
	<string>kCojiImageIndex_Vehicle_26fd</string>
	<string>kCojiImageIndex_Vehicle_26fd_B</string>
	<string>kCojiImageIndex_Vehicle_26fd_C</string>
	<string>kCojiImageIndex_Vehicle_26fd_D</string>
	<string>kCojiImageIndex_Vehicle_2708</string>
	<string>kCojiImageIndex_Vehicle_2708_B</string>
</array>
</plist>
