<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Stop</string>
	<string>kCojiSoundIndex_NA_Sfx_Pop</string>
	<string>kCojiSoundIndex_A_Sfx_Pop</string>
	<string>kCojiSoundIndex_A_Sfx_Receive</string>
	<string>kCojiSoundIndex_Emoji_Intro_Music</string>
	<string>kCojiSoundIndex_Girl_Dance</string>
	<string>kCojiSoundIndex_Volcano_Explode</string>
	<string>kCojiSoundIndex_Lightbulb_ding</string>
	<string>kCojiSoundIndex_Alien</string>
	<string>kCojiSoundIndex_Attention</string>
	<string>kCojiSoundIndex_Baby_Suck</string>
	<string>kCojiSoundIndex_Bark</string>
	<string>kCojiSoundIndex_BdayMusic_1</string>
	<string>kCojiSoundIndex_Big_Pop</string>
	<string>kCojiSoundIndex_Bomb</string>
	<string>kCojiSoundIndex_Booo</string>
	<string>kCojiSoundIndex_Bounce</string>
	<string>kCojiSoundIndex_CarouselMusic</string>
	<string>kCojiSoundIndex_Cartoon_Drip</string>
	<string>kCojiSoundIndex_Cartoon_Drip_1</string>
	<string>kCojiSoundIndex_Cha_ching</string>
	<string>kCojiSoundIndex_Clang</string>
	<string>kCojiSoundIndex_Click</string>
	<string>kCojiSoundIndex_Coaster_Screams</string>
	<string>kCojiSoundIndex_Coji_Annoyed</string>
	<string>kCojiSoundIndex_Coji_Coji_1</string>
	<string>kCojiSoundIndex_Coji_Coji_2</string>
	<string>kCojiSoundIndex_Coji_Coji_3</string>
	<string>kCojiSoundIndex_Coji_Crying</string>
	<string>kkCojiSoundIndex_Coji_Hike</string>
	<string>kCojiSoundIndex_Coji_Huh_</string>
	<string>kCojiSoundIndex_Coji_Hungry_1</string>
	<string>kCojiSoundIndex_Coji_Loop_1</string>
	<string>kCojiSoundIndex_Coji_Macro</string>
	<string>kCojiSoundIndex_Coji_Munch</string>
	<string>kCojiSoundIndex_Coji_Ouch</string>
	<string>kCojiSoundIndex_Coji_Sequence_1</string>
	<string>kCojiSoundIndex_Coji_Serious</string>
	<string>kCojiSoundIndex_Coji_Shy</string>
	<string>kCojiSoundIndex_Coji_Sings</string>
	<string>kCojiSoundIndex_Coji_Smirks</string>
	<string>kCojiSoundIndex_Coji_Smooch</string>
	<string>kCojiSoundIndex_Coji_Surprised_1</string>
	<string>kCojiSoundIndex_Coji_Yum</string>
	<string>kCojiSoundIndex_CoolMusic</string>
	<string>kCojiSoundIndex_Crank</string>
	<string>kCojiSoundIndex_Detective</string>
	<string>kCojiSoundIndex_Devil_Sneers</string>
	<string>kCojiSoundIndex_Dragon</string>
	<string>kCojiSoundIndex_Dragon_Roar</string>
	<string>kCojiSoundIndex_ElectricZap</string>
	<string>kCojiSoundIndex_Fire</string>
	<string>kCojiSoundIndex_Flap_Wings</string>
	<string>kCojiSoundIndex_Flush</string>
	<string>kCojiSoundIndex_Foghorn</string>
	<string>kCojiSoundIndex_Generic_Car_Motor</string>
	<string>kCojiSoundIndex_Glug</string>
	<string>kCojiSoundIndex_GuitarRiff</string>
	<string>kCojiSoundIndex_HammerKnock</string>
	<string>kCojiSoundIndex_Hockey</string>
	<string>kCojiSoundIndex_Jet_Flying</string>
	<string>kCojiSoundIndex_Lightning</string>
	<string>kCojiSoundIndex_LowBattery</string>
	<string>kCojiSoundIndex_Meow</string>
	<string>kCojiSoundIndex_Motor_Rev</string>
	<string>kCojiSoundIndex_Octopus</string>
	<string>kCojiSoundIndex_Panting</string>
	<string>kCojiSoundIndex_PartyHorn</string>
	<string>kCojiSoundIndex_Propeller_Spins</string>
	<string>kCojiSoundIndex_Pump</string>
	<string>kCojiSoundIndex_Rain</string>
	<string>kCojiSoundIndex_Rattle</string>
	<string>kCojiSoundIndex_Reel</string>
	<string>kCojiSoundIndex_RegalTune</string>
	<string>kCojiSoundIndex_Ring</string>
	<string>kCojiSoundIndex_Roar</string>
	<string>kCojiSoundIndex_Rooster_Crows</string>
	<string>kCojiSoundIndex_Sax</string>
	<string>kCojiSoundIndex_SchoolBell</string>
	<string>kCojiSoundIndex_Slip</string>
	<string>kCojiSoundIndex_Slots</string>
	<string>kCojiSoundIndex_Slurpy_Lick</string>
	<string>kCojiSoundIndex_Sparkle</string>
	<string>kCojiSoundIndex_Splat</string>
	<string>kCojiSoundIndex_Swoosh</string>
	<string>kCojiSoundIndex_TechoBeat</string>
	<string>kCojiSoundIndex_Tick</string>
	<string>kCojiSoundIndex_Train_Chug</string>
	<string>kCojiSoundIndex_Triumphant</string>
	<string>kCojiSoundIndex_Trumpet</string>
	<string>kCojiSoundIndex_Tweet</string>
	<string>kCojiSoundIndex_Unlock</string>
	<string>kCojiSoundIndex_Whoa_2</string>
	<string>kCojiSoundIndex_Wink</string>
	<string>kCojiSoundIndex_Yawn</string>
	<string>kCojiSoundIndex_Zip</string>
	<string>kCojiSoundIndex_crack</string>
	<string>kCojiSoundIndex_police_whistle</string>
	<string>kCojiSoundIndex_Alien_Tune</string>
	<string>kCojiSoundIndex_Angles_Sing</string>
	<string>kCojiSoundIndex_Baby</string>
	<string>kCojiSoundIndex_Backward_3</string>
	<string>kCojiSoundIndex_Beep</string>
	<string>kCojiSoundIndex_Blink</string>
	<string>kCojiSoundIndex_Boing_1</string>
	<string>kCojiSoundIndex_Bomb_NA</string>
	<string>kCojiSoundIndex_Coji_Awe_Cute</string>
	<string>kCojiSoundIndex_Coji_Burp</string>
	<string>kCojiSoundIndex_Coji_Comic_Scream</string>
	<string>kCojiSoundIndex_Coji_No_Like</string>
	<string>kCojiSoundIndex_Coji_Sneeze</string>
	<string>kCojiSoundIndex_Coji_Sniff_2Xs</string>
	<string>kCojiSoundIndex_Coji_blahhh</string>
	<string>kCojiSoundIndex_Dizzy</string>
	<string>kCojiSoundIndex_Dog</string>
	<string>kCojiSoundIndex_Excite</string>
	<string>kCojiSoundIndex_Fireworks</string>
	<string>kCojiSoundIndex_Fly_Buzz</string>
	<string>kCojiSoundIndex_Frog</string>
	<string>kCojiSoundIndex_Giggle</string>
	<string>kCojiSoundIndex_Grumpy_3</string>
	<string>kCojiSoundIndex_Head_Button_3</string>
	<string>kCojiSoundIndex_Humph</string>
	<string>kCojiSoundIndex_Laugh_3</string>
	<string>kCojiSoundIndex_Meow_NA</string>
	<string>kCojiSoundIndex_Meow_Scratch</string>
	<string>kCojiSoundIndex_Monkey_Sounds</string>
	<string>kCojiSoundIndex_Munch</string>
	<string>kCojiSoundIndex_Music_Note</string>
	<string>kCojiSoundIndex_Oink_Snort</string>
	<string>kCojiSoundIndex_Pleading</string>
	<string>kCojiSoundIndex_Plop</string>
	<string>kCojiSoundIndex_Power_Boat</string>
	<string>kCojiSoundIndex_Power_up</string>
	<string>kCojiSoundIndex_Rocket_Blast_Off</string>
	<string>kCojiSoundIndex_Scratch</string>
	<string>kCojiSoundIndex_Side_Button_2</string>
	<string>kCojiSoundIndex_Siren</string>
	<string>kCojiSoundIndex_Slime</string>
	<string>kCojiSoundIndex_Snore</string>
	<string>kCojiSoundIndex_Snore_3</string>
	<string>kCojiSoundIndex_Sparkle_NA</string>
	<string>kCojiSoundIndex_Spin_3</string>
	<string>kCojiSoundIndex_Splash</string>
	<string>kCojiSoundIndex_Spray</string>
	<string>kCojiSoundIndex_Tiptoe</string>
	<string>kCojiSoundIndex_Turn</string>
	<string>kCojiSoundIndex_Waiting_Whistle_2</string>
	<string>kCojiSoundIndex_Wave</string>
	<string>kCojiSoundIndex_Wee_3</string>
	<string>kCojiSoundIndex_Whoa_3</string>
	<string>kCojiSoundIndex_Wind_Gust</string>
	<string>kCojiSoundIndex_Woohoo</string>
	<string>kCojiSoundIndex_WowWee</string>
	<string>kCojiSoundIndex_Yippe</string>
	<string>kCojiSoundIndex_forward_3</string>
</array>
</plist>
